header{
	background: #BBBBBB;
	padding: 20px;
}
nav {
	position: absolute;
	top: 110px;
	right: 0px;
}
nav li{
	display: inline;
	margin: 0 0 0 15px;
}
nav a{
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}
nav a:hover{
	color:#689034;
	/*text-decoration: underline;
	*/
}
footer{
	text-align: center;
	background: url("bg.jpg");
	padding: 40px 0;
}
.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 0;
}
.produtos{
	width: 940px;
	margin: 0 auto;
	padding: 50px 0px;
}
.produtos li{
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	/*background: #CCCCCC;*/
	margin: 0 1.5%;
	padding: 30px 20px;
	border: 2px solid #000000;
	box-sizing: border-box;
	border-radius: 40px 40px 40px 40px;
}
.produtos li:hover {
	border-color: #689034;
}

.produtos li:active {
	border-color: #689999;
}
.produtos li:hover h2{
	font-size: 31px;
}

.produtos h2{
	font-size: 30px;
	font-weight: bold;
}
.produto-preco{
	font-size: 22px;
	font-weight: bold;
	margin: 10px 0 0;
}
.produto-descricao{
	font-size: 18px;
}
.caixa{
	width: 940px; /* Valor padrão para monitores e display de 1260 de largura*/
	position: relative;
	margin: 0 auto 0 auto;
}

main{
	width: 940px;
	margin: 0 auto;
}
.form {
	margin: 40px 0;
}
form label, form legend{
	display: block;
	font-size: 20px;
	margin: 0 0 10px;
}
.input-padrao{
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 30%;
}
.checkbox{
	margin: 20px 0;
}
.enviar{
	width: 30%;
	padding: 15px 0;
	background: orange;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 10px;
	transition: 1s all;
	cursor: pointer;
}
.enviar:hover{
	background: darkorange;
	transform: scale(1.2);
	/*transform: rotate(); */
}
/*Peso sobre os Seletores id class e tag, 100, 10, 1*/
/*Dica de site para colocar os tipos de input para dispositivos móveis - mobileinputtypes.com */
table{
	margin: 20px 0 40px;
}
thead{
	background: #555555;
	color: white;
	font-weight: bold;
}
td, th{
	border: 1px solid black;
	padding: 8px 15px;
	text-align: left;
}










